.cca .div_command_bar,
.cca .div_orders_bar {
  border-image: url("coui://ui/mods/com.pa.bz-overhaul/img/img_command_bar_bground_cca.png")
    26 24 26 26 fill !important;
}

.nsdf .div_command_bar,
.nsdf .div_orders_bar {
  border-image: url("coui://ui/mods/com.pa.bz-overhaul/img/img_command_bar_bground_nsdf.png")
    26 24 26 26 fill !important;
}

.cca .div_command_bar_cont,
.cca .div_orders_bar_cont {
  box-shadow: inset 0 0 8px rgba(255, 18, 18, 0.5);
}

.nsdf .div_command_bar_cont,
.nsdf .div_orders_bar_cont {
  box-shadow: inset 0 0 8px rgba(0, 0, 158, 0.5);
}

.cca .div_command_item_active,
.cca a.div_command_item_active:hover {
  background: rgba(255, 0, 0, 0.7);
  border: 1px solid rgba(158, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
}

.nsdf .div_command_item_active,
.nsdf a.div_command_item_active:hover {
  background: rgb(51, 53, 153, 0.85);
  border: 1px solid rgba(0, 0, 158, 0.5);
  box-shadow: 0 0 20px rgb(51, 53, 153, 0.85);
}

.cca .div_command_item a:hover {
  background: rgba(255, 0, 0, 0.85);
  border: 1px solid rgba(158, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.85);
}

.nsdf .div_command_item a:hover {
  background: rgba(62, 54, 178, 0.5);
  border: 1px solid rgba(0, 0, 158, 0.5);
  box-shadow: 0 0 20px rgba(62, 54, 178, 0.5);
}

.cca .span_tooltip_hotkey {
  border: 1px solid rgba(255, 0, 0, 1) !important;
  color: rgba(255, 0, 0, 1) !important;
}

.nsdf .span_tooltip_hotkey {
  border: 1px solid rgba(62, 54, 178, 1) !important;
  color: rgba(62, 54, 178, 1) !important;
}

.cca .tooltip-inner {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5) !important;
}

.nsdf .tooltip-inner {
  box-shadow: 0 0 20px rgba(0, 0, 158, 0.5) !important;
}

.cca .tooltip_order {
  color: white !important;
}

.nsdf .tooltip_order {
  color: white !important;
}

.cca .btn_std_ix:hover {
  background: rgba(255, 0, 0, 0.85) !important;
  border: 1px solid rgba(158, 0, 0, 0.1) !important;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2) !important;
}

.nsdf .btn_std_ix:hover {
  background: rgba(62, 54, 178, 0.5);
  border: 1px solid rgba(0, 0, 158, 0.5);
  box-shadow: 0 0 20px rgba(62, 54, 178, 0.5);
}

.cca .cmd_order:hover {
  background: rgba(255, 0, 0, 0.8);
  border: 1px solid rgba(158, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

.nsdf .cmd_order:hover {
  background: rgba(74, 88, 218, 0.8);
  border: 1px solid rgba(0, 0, 158, 0.5);
  box-shadow: 0 0 20px rgba(74, 88, 218, 0.8);
}

.cca .cmd_order:active {
  background: rgba(255, 0, 0, 1);
  border: 1px solid rgba(158, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(255, 0, 0, 1);
}

.nsdf .cmd_order:active {
  background: rgba(74, 88, 218, 1);
  border: 1px solid rgba(0, 0, 158, 0.5);
  box-shadow: 0 0 20px rgba(74, 88, 218, 1);
}
