.cca .div_build_bar_menu_cont {
  border-image: url("coui://ui/mods/com.pa.bz-overhaul/img/img_build_bar_menu_bground_cca.png")
    35 35 23 35 fill !important;
}

.nsdf .div_build_bar_menu_cont {
  border-image: url("coui://ui/mods/com.pa.bz-overhaul/img/img_build_bar_menu_bground_nsdf.png")
    35 35 23 35 fill !important;
}

.cca .div_build_bar_page {
  border-left: 1px solid #970000;
  border-top: 1px solid #970000;
  box-shadow: 0 0 50px rgba(158, 0, 0, 0.5);
}

.nsdf .div_build_bar_page {
  border-left: 1px solid rgb(0, 96, 160);
  border-top: 1px solid rgb(0, 96, 160);
  box-shadow: 0 0 50px rgba(0, 100, 158, 0.5);
}

.cca .div_build_bar_page.active_build_tab {
  border-left: 1px solid #f00;
  border-top: 1px solid #f00;
  border-right: 1px solid #f00;
  border-bottom: 1px solid #f00;
  box-shadow: 0 0 50px #f00;
}

.nsdf .div_build_bar_page.active_build_tab {
  border-left: 1px solid rgb(51, 107, 153);
  border-top: 1px solid rgb(51, 107, 153);
  border-right: 1px solid rgb(51, 107, 153);
  border-bottom: 1px solid rgb(51, 107, 153);
  box-shadow: 0 0 50px rgb(51, 107, 153);
}

.cca .div_build_item {
  border-right-color: #970000;
  border-bottom-color: #970000;
}

.nsdf .div_build_item {
  border-right-color: rgb(0, 96, 160);
  border-bottom-color: rgb(0, 96, 160);
}

.cca .span_hotkey {
  border: 1px solid #f00 !important;
  color: #fff !important;
}

.nsdf .span_hotkey {
  border: 1px solid rgb(51, 107, 153) !important;
  color: #fff !important;
}

.cca .div_build_item:hover {
  background: rgba(255, 0, 0, 0.7);
  border: 1px solid rgba(158, 0, 0, 0.5) !important;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7) !important;
}

.nsdf .div_build_item.hover {
  background: rgba(54, 118, 178, 0.5) !important;
  border: 1px solid rgba(0, 100, 158, 0.5) !important;
  box-shadow: 0 0 20px rgba(54, 118, 178, 0.5) !important;
}

.cca .div_build_item.active {
  background: rgba(255, 0, 0, 0.85);
  border: 1px solid rgba(158, 0, 0, 0.5) !important;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.85) !important;
}

.nsdf .div_build_item:active {
  background: rgba(51, 95, 153, 0.85) !important;
  border: 1px solid rgba(0, 100, 158, 0.5) !important;
  box-shadow: 0 0 10px rgba(0, 69, 158, 0.85) !important;
}

.cca .span_build_bar_tab {
  color: #f00;
  text-shadow: 0 0 30px #f00;
  border-right-color: #333;
  border-left-color: #333;
  border-bottom-color: #444;
  background: #1d1d1d;
}

.nsdf .span_build_bar_tab {
  color: rgb(0, 61, 153);
  text-shadow: 0 0 30px rgb(0, 61, 153);
  border-right-color: #333;
  border-left-color: #333;
  border-bottom-color: #444;
  background: #1d1d1d;
}

.cca .span_build_bar_tab:hover {
  background: #f00;
  text-shadow: 0 0 30px #f00;
  border: 1px solid rgba(158, 0, 0, 0.5) !important;
}

.nsdf .span_build_bar_tab:hover {
  background: rgb(0, 61, 153);
  text-shadow: 0 0 30px rgb(0, 61, 153);
  border: 1px solid rgba(0, 100, 158, 0.5) !important;
}

.cca .span_build_bar_tab_active {
  border: 1px solid rgba(158, 0, 0, 0.5) !important;
  box-shadow: 0 0 10px #f00 !important;
}

.nsdf .span_build_bar_tab_active {
  border: 1px solid rgba(0, 100, 158, 0.5) !important;
  box-shadow: 0 0 10px rgb(0, 61, 153) !important;
}